
 body {
    font-family: helvetica;
    margin: auto;
    padding: 20px;
    max-width: 720px;
    text-align: left;
    background-color: #fff;
    word-wrap: break-word;
    overflow-wrap: break-word;
    line-height: 1.1;
    color: #444;
  }

  @media (prefers-color-scheme: dark) {
    body {
      background-color: #111;
      color: #ddd;
    }

h1 {
color: #005577;
font-size: 64px;
font-weight; 600;
margin-top: 5%;
display: inline;
}

h2 {
color: #bbbbbb;
font-size: 30px;
margin-top: -25px;
display: inline
}

h3 {
color: #1177aa;
font-size: 30px;
margin-top: -25px;
display: inline
}
p { color: #eee;
    font-size: 25px;
}

ul {
padding-left:20px;
list-style-type:&#x2022;;
line-height:1.4;
}


li { color: #eeeeee; font-family: helvetica; font-size: 20px; }

a {
color: #eeeeee;
font-size: 22px;
text-decoration: none}

b { color: #1177aa; font-family: helvetica; text-decoration: none;}

a:hover { color: #005577; }
  footer {
    padding: 25px;
    text-align: center;
  }

    code {
      background-color: #777;
    }

    pre code {
      color: #ddd;
    }

    blockquote {
      color: #ccc;
    }

    textarea,
    input {
      background-color: #252525;
      color: #ddd;
    }

    .helptext {
      color: #aaa;
